<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><% data %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1> DHT11 센서데이터 실습 페이지</h1>
  <p></p>

  <div id="node-red">
    <button>Node-RED 링크</button>
  </div>
  <h1>온 습도 정보</h1>
  <input type="button" value="ALL" onClick="location.href='http://127.0.0.1:3000/all'">
  <input type="button" value="TEMP_C" onClick="location.href='http://127.0.0.1:3000/temp_c'">
  <input type="button" value="TEMP_F" onClick="location.href='http://127.0.0.1:3000/temp_f'">
  <input type="button" value="HUMID" onClick="location.href='http://127.0.0.1:3000/humid'">
  <p></p>

</body>

</html>